<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    <h1>Under Repair</h1>
    <p>Some maintenance to do</p>
    <p>Come back soon</p>
  </body>
</html>
